.form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include respond(tab-port) {
        flex-direction: row;
    }

    &__group {
        flex: 1 1 100%;
    }

    input {
        border: 0;
        border-bottom: 2px solid var(--gray-300);
        width: 100%;

        &:focus {
            border-color: var(--primary-400);
            border-width: 4px;
        }
        &::placeholder {
            color: var(--gray-300);
            /* By default, opacity is less than 1 in placeholder text. */
            opacity: 1;
        }
    }

    label {
        display: block;
        margin-bottom: 0.5em;
        font-size: var(--fs-300);
        font-weight: var(--fw-400);
    }

    button {
        align-self: flex-start;
        @include respond(tab-port) {
            align-self: center;
        }
    }
}
